# Mode of application
MODE=your_mode_here  # e.g., LOCAL, PRODUCTION

# Database configuration
DB_HOST=your_database_host
DB_PORT=your_database_port
DB_USER=your_database_user
DB_PASS=your_database_password
DB_NAME=your_database_name

# Redis configuration
REDIS_HOST=your_redis_host
REDIS_PORT=your_redis_port
REDIS_PASS=your_redis_password

